<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{kit.name}}</title>
    {% load static %}
    {% include "blocks/head.html" %}
    <script src="{% static 'js/plate/plate.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/plate/plate.css' %}">
</head>
<body data-kit-name="{{kit.name}}">
<div class="container">
    <div class="row">
        <div class="kits col-sm">
            {% include "blocks/navigation.html" %}
        </div>
    </div>

    <div class="row">
        <div class="plates label col-sm-5">
            <table class="table">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                {% for plate in plate_list %}
                <tr class="table-row">
                    <td>{{plate.name}}</td>
                    <td>
                        <button class="edit_button btn btn-warning"
                                data-name="{{plate.name}}"
                        >Edit
                        </button>
                    </td>
                    <td>
                        <button class="delete_button btn btn-danger"
                                data-name="{{plate.name}}"
                        >Delete
                        </button>
                    </td>
                </tr>
                {% endfor%}
            </table>
        </div>
        <div class="create-plate col-sm-6 ml-5">
            <h4>Create new licence plate:</h4>
            <form id="create_form">
                <label>
                    Name:
                    <input name="plate_name">
                </label>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div class="edit-plate col-sm-6 ml-5">
            <h4>Edit <span id="name_of_editing_plate"></span>:</h4>
            <form id="edit_form">
                <label>
                    Name:
                    <input id="edit_form_plate_name" name="plate_name" value="">
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
                <button class="btn btn-danger" id="cancel_edition">Cancel</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>