<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    {% if not checkpoint %}
        <h1>Create checkpoint</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <small>{{ error }}</small>
    {% else %}
        <h3>{{ checkpoint.name }}</h3>
        <img src="/stream/">
    {% endif %}
</div>
</body>
</html>