<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kits</title>
    {% load static %}
    {% include "blocks/head.html" %}
    <script src="{% static 'js/kit/kit.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="kits col-sm-12">
            {% include "blocks/navigation.html" %}
        </div>
    </div>

    <div class="row">
        <div class="kits col-6" style="min-wight: 300px">
            <table class="table">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Active</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                {% for kit in kit_list %}
                <tr class="table-row">
                    <td>{{kit.name}}</td>
                    <td>{{kit.active}}</td>
                    <td>
                        <a href="/kit/{{kit.name}}/" class="btn btn-info">
                            Show
                        </a>
                    </td>
                    <td>
                        <button class="edit_button btn btn-warning"
                                data-name="{{kit.name}}"
                                data-active="{{kit.active}}"
                        >Edit
                        </button>
                    </td>
                    <td>
                        <button class="delete_button btn btn-danger"
                                data-name="{{kit.name}}"
                        >Delete
                        </button>
                    </td>
                </tr>
                {% endfor%}
            </table>
        </div>
        <div class="create-kit col-6  ml-5" style="min-wight: 300px">
            <h4>Create new kit:</h4>
            <form id="create_form">
                <label>
                    Name:
                    <input name="kit_name">
                </label>
                <label>
                    Active:
                    <input type="checkbox" name="kit_active">
                </label>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div class="edit-kit col-6  ml-5" style="min-wight: 300px">
            <h4>Edit <span id="name_of_editing_kit"></span>:</h4>
            <form id="edit_form">
                <label>
                    Name:
                    <input id="edit_form_kit_name" name="kit_name" value="">
                </label>
                <label>
                    Active:
                    <input id="edit_form_kit_active" type="checkbox" name="kit_active">
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
                <button class="btn btn-danger" id="cancel_edition">Cancel</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>